{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="{% static 'accountsapp/css/styles.css'%}" />
  <title>Document</title>
</head>

<body class="login_body">
  <h1 class="login_title">E-Planner</h1>
  {% block content %}
  {%endblock%}
  <script src="{% static 'accountsapp/login_bg.js' %}"></script>
</body>

</html>